.selectList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 18em;
    max-height: 444px;
    z-index: 2000;
    text-align: left;
    overflow: scroll;
    border: 1px solid rgb(230, 236, 240);
    border-radius: 5px;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}

.loading {
    padding: 10px;
}