.selectListItem {
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 1px solid rgb(230, 236, 240);
  padding: 5px;
  cursor: pointer;
  line-height: 1.5em ;
}
.selectListItem:hover,
.selectListItem:focus {
  background: rgb(245, 248, 250);
  outline: none;
}

.Avatar {
  padding: 5px;
  width: 35px;
}

.userDetails {
  padding: .5em;
}
.lighter {
  color: rgb(101, 119, 134);
}

.withFocus {
  background: rgb(245, 248, 250);
}

